.main_gallery {
  position: relative;
  background: $color-bg;

  .sbar {
    position: relative;
    max-width: 1170px;
    margin: 30px auto;
    background: $color-body;

    height: 3px;
    overflow: hidden;

    & span {
      background: $color-main;
    }
  }

  .arrows {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1400px;
    width: 100%;
    padding: 0 15px;
    z-index: 998;

    .material-symbols-outlined {
      font-size: 80px;
      font-weight: 200;
    }

    .left {
      position: absolute;
      left: 0;
      cursor: pointer;
    }

    .right {
      position: absolute;
      right: 0;
      cursor: pointer;
    }
  }

  @include res() {
    .arrows {
      top: 55%;
      .left {
        font-size: 56px;
        background: rgba($color: $color-white, $alpha: 0.85);
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      }

      .right {
        font-size: 56px;
        background: rgba($color: $color-white, $alpha: 0.85);
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      }
    }
  }
}
